.popup_opened {
    visibility: visible;
    opacity: 1;
}

.picture__popup-container {
    position: relative;
}

.picture__popup-image {
    max-height: 80vh;
    max-width: 70vw;
}

.picture__popup-title {
    font-family: 'Inter', Arial, sans-serif;
    margin-top: 10px;
    font-weight: 400;
    line-height: 14px;
}
@media screen and (max-width: 320px) {
    .picture__popup-image {
        max-width: 80vw;
    }
}