.page {
    font-family: 'Inter', Arial, sans-serif;
    background-color: black;
    color: white;
}

.page__section {
    position: relative;
    margin: 0 auto;
}
.page__content {
    margin: auto;
    max-width: 880px;
}

@media screen and (max-width: 900px) {

    .page__content {
        max-width: 600px;
    }
}